.container {
  width: 1440px;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.input {
  background-color: lavender;
  border-radius: 5px;
  padding: 15px 20px;
  border: none;
}

.trip-grid {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.trip-grid .trip-card,
.trip-grid .add-trip {
  width: calc(25% - 30px);
}

.weather-forecast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.weather-forecast-grid .weather-card {
  width: 100px;
}

.page-grid {
  display: flex;
}

.page-grid__left {
  width: 75%;
}

.page-grid__right {
  width: 30%;
}
